*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/build/
/dist/
!/lib/ExecutionSlave.jar
!/lib/optimization.jar
!/lib/FMeasure.jar
!/lib/mdsj.jar
!/lib/jcommon-1.0.23.jar
!/lib/commons-pool-1.6.jar
!/lib/gephi-toolkit.jar
!/lib/beansbinding-1.2.1.jar
!/lib/Sandbox.jar
!/lib/jfreechart-1.0.19.jar
!/lib/sqltool.jar